.main {
    text-align: center;
    color: blueviolet;
    font-weight: bolder;
    
}

.desc{
    color: red;
    background-color: wheat;
}

.location{
    border: 7px solid black;
}

.bc1, .bc2{
    color: black;
    background-color: wheat;
}