.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: inline;
}

.card img {
    float: left;
    height: 100px;
    width: 100px;
}

.price {
    color: grey;
    font-size: 22px;
    float: right;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.main {
    height: 100%;
    width: auto;
    background-color: rgb(223, 225, 185);
}